body
{
    background-image: url('/src/background-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px;
    font-size: 110px;
    font-family:Impact,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    color: #200303;
}

.container
        {
            background-color:rgb(119, 32, 32);
            height: 400px;
            width: 1100px;
            margin: 160px 110px ;
            border: double rgb(147, 73, 73) 10px;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .poster
        {  
            margin-top:50px;
            display: inline-block;
        }

        .name
        {
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
            text-align: center;
            color:white;
        }

        .img
        {
            height: 250px;
            width: 200px;
            border-radius: 12px;
            display:block;
        }